@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>This site is currently under construction. The purpose of this site when it is finished is to provide a way for Dota 2 players to compare the stats of different builds on different heroes.</p>
