@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    2070 Gary Road<br />
    Traverse City, MI ,49686<br />
    <abbr title="Phone">P:</abbr>
    (231) 943-5167
</address>
<address>
    <strong>Support:</strong><a href="mailto:olson25@mail.nmc.edu">Olson25@mail.nmc.edu</a><br />
</address>