@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Dota 2 Build Comparison</h1>
    <p class="lead">Welcome to the Dota 2 Build comparison</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Site Purpose</h2>
        <p>
            You can use this site to compare stats for different heroes in dota.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Text to be added</p>
    </div>
    <div class="col-md-4">
        <h2>Header</h2>
        <p>Text To be added</p>
    </div>
</div>
